.footer{
    font-size: 0.8rem;
    font-weight: 700;
    .linkDondeIr{
        .iconos{
            color:$color-link-primario;
            
        }
    }
    .IconoTwitch{
        color: $twitch;
        font-size: 4rem;
        position: fixed;
        bottom: 60px;
        right: 10px;
    }
    .contenidos{
        .navFooter{
            color:  $color-secundario;
            &:hover{
                color: $color-link-secundario;
            }
        }
    }
    .copy{
        color: #626262;
        font-size: 0.8rem;
    }     
}