$vista:mobile;
$vista:desktop;


.header{ 
    color: $color-secundario;
    height: 100vh;
    background-image: url(../assets/img/elmundo.jpg);
    background-size: cover;
    background-position: center;
    .navbar-light{
        .navbar-nav{
            .nav-link.colorNav{
                color:$color-link-primario;
                &:hover{
                    color:$color-link-secundario;
                }
            }
            .nav-link.colorNavC{
                color: $color-nav;
                &:hover{
                    color:$color-link-secundario;
                }
            }
        }
    }
    .imagen{
        filter: drop-shadow(10px 10px 10px rgb(0, 0, 0))
    }
    .hamgurguesa {
        color: white;
        border-radius: 20%;
        border-color: white; 
        background-color: transparent; 
    }
}

@media (max-width: 768px) {
    .header{
        height: 50vh;
        background-image: url(../assets/img/elmundo.jpg);
        background-position: center;
        .tituloPrincipal{
            text-shadow: 1px 1px 10px $color-y-borde;
        }
        .navbar-light{
            .navbar-nav{
                .nav-link.colorNav{
                    color:$color-link-primario;
                    &:hover{
                        color: $color-link-secundario;
                        background-size: cover;
                    }
                }
                .nav-link.colorNavC{
                    color: $color-nav;
                    &:hover{
                            color: $color-link-secundario;
                            color: $color-secundario;
                    }
                }
            }
        }   
    }
}      
    


