.mainUnirse{
    background-image: linear-gradient(to top, #00ff04, #00e021, #00c22a, #00a52d, #00882d, #007c44, #006e50, #006054, #155a61, #345361, #464c57, #494949);
    .bgUnirse{
        color: $color-secundario;
        height: $h-250px;
        background-image: url(../assets/img/unirse.jpg);
        background-size: cover;
        background-position: bottom;
    }
    .contenedorComunicate{
        color: $color-secundario;
        height: $h-250px;
        background-image: url(../assets/img/fondocanva.jpg);
        background-size: cover;
        background-position: center;

    }
}