.mainIndex{
    background-image: linear-gradient(to top, #00ff04, #00e021, #00c22a, #00a52d, #00882d, #007c44, #006e50, #006054, #155a61, #345361, #464c57, #494949);
    color: $color-secundario;
    .seccionCarrusel{
            .tituloCarrusel{
                font-size: 1.5rem;
                font-weight: 700;
            }
            .subTituloCarrusel{
                font-size: 1.2rem;
                font-weight: 700;
            }
    }
    .imagen{
      img{
          filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.5));
          transition: transofrm 5s ease;
          &:hover{
          transform: scale(1.1);
          }
      }
      
  }
  
}
@media (max-width: 768px) {
    #carouselExampleControls {
      width: 100% !important; 
      margin: auto; 
    }
    
    #carouselExampleControls .carousel-inner .carousel-item img {
      width: 100%;
      height: auto; 
    }
  }


