$color-principal: rgb(45, 45, 45);
$color-secundario: rgb(206, 206, 206);
$color-link-primario:  #00ff04;
$color-link-secundario: #7dfc95;
$borde-verde: #00ff26;
$twitch:  #6b01ff;
$color-y-borde-negro: #000000;
$color-nav:  #d2d2d2;
$h-250px:250px;
